.boxmodel{
	border: 5px solid blue;
	padding: 20px 5px 20px 5px;
	margin: 5px 20px;
}
p{
	text-decoration: underline;
	font-family: bold;
	text-align: center;
	background-color: lightblue;
}
h1{
	
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
}