.flex-container {
  display: flex;
  background-color: DodgerBlue;
  flex-flow: row;
  justify-content: center;
  
}
.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.flex-container2 {
  display: flex;
  background-color: DodgerBlue;
  flex-flow: row;
  justify-content: flex-start;
}

.flex-container2 > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.flex-container3 {
  display: flex;
  background-color: DodgerBlue;
  flex-flow: row;
  justify-content: flex-end;
}

.flex-container3 > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.flex-container4 {
  display: flex;
  background-color: DodgerBlue;
  flex-flow: row;
  justify-content: space-between;
}

.flex-container4 > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.flex-container5 {
  display: flex;
  background-color: DodgerBlue;
  flex-flow: row;
  justify-content: space-around;
}

.flex-container5 > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}