* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* //////////////////////////////////////////////////////////////////////// */
                            /* COLORS and FONTS */
/* //////////////////////////////////////////////////////////////////////// */

body {
    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 3;
}
img{
    width: 100%;
    display: block;
}
.header {
    background: black;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    font-family: monospace;
    padding-top: 160px;
    letter-spacing: 5px;

}

.para{

    background: black;
    color: orange;
    padding-bottom: 140px;
    font-style: italic;
    display: flex;
    justify-content: center;

}
    
a {
   color: black;
   letter-spacing: 5px;
   text-decoration: none;
   background: orange;
   padding: 0 0;
   display: flex;
   justify-content: space-around;
   align-content: center;


}

a:hover {
   background: gray;
}
.container ul {
   
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
}

.container li {
   flex-grow: 1; 
}

/* //////////////////////////////////////////////////////////////////////// */
                            /* Main area */
/* //////////////////////////////////////////////////////////////////////// */
.main-container-post{
    display: flex;
    margin: 10px;
    padding: 10px;
    
}

.left-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 3px solid black;
    background: #FFFFFF;
    

}


.movie-card{
    flex-basis: 45%;
    padding: 0 0 10px 0;
}
.movie-card img{


}
.movie-card h3{

    color: black;
    background: orange;
}
.movie-card p{

    background: white;
    color: black;
    line-height: 25px;
}

.movie-card1{
    flex-basis: 45%;
      padding: 0 0 13px 0;
}
.movie-card1 img{


}
.movie-card1 h3{

    color: black;
    background: orange;
}
.movie-card1 p{

    background: white;
    color: black;
    line-height: 26px;
}

.movie-card2{
    flex-basis: 30%;
    padding: 0 0 10px 5px;
}
.movie-card2 img{


}
.movie-card2 h3{

    color: black;
    background: orange;
    line-height: 42px;
}
.movie-card2 p{

    background: white;
    color: black;
    line-height: 25px;
}

.movie-card3{
    flex-basis: 30%;
     padding: 0 0 10px 0;

}
.movie-card2 img{


}
.movie-card3 h3{

    color: black;
    background: orange;
}
.movie-card3 p{

    background: white;
    color: black;
    line-height: 25px;
}

.movie-card4{
    flex-basis: 30%;
     padding: 0 5px 10px 0;
}
.movie-card4 img{


}
.movie-card4 h3{

    color: black;
    background: orange;
}
.movie-card4 p{


    
    background: white;
    color: black;
    line-height: 25px;
}

.movie-card5{
    flex-basis: 95%;
    padding: 0 0 10px 0;
}
.movie-card5 img{


}
.movie-card5 h3{

    color: black;
    background: orange;
}
.movie-card5 p{

    background: white;
    color: black;
    line-height: 25px;
}

.heading{
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

/* WATCH SECTION */

.watch-container{
    display: flex;
    margin: 10px;
    padding: 10px;

}

.watch-right{

    display: flex;
    border: 3px solid black;
    background: black;
    line-height: 25px;
    align-content: center;
}

.watch-right p{

}

.watch-right h1{

  
}

.sub-inner{

   display: flex;
    flex-flow: column;
    justify-content: center;
   
}

.header-1{

    display: flex;
    margin: 10px;
    padding: 10px;
     border: 1px solid white;
   

}

.lists-new{

     border: 1px solid white;
    margin: 10px;
    padding: 10px;
  
}

.lists-new ul{
     
    display: flex;
     list-style: none;
     justify-content:space-around;

 }

 .description{

    margin: 10px;
     border: 1px solid white;
   
}


.watch-left{
    
    border: 3px solid black;
    flex: 0 0 400px;
    flex-basis: 35%;
}

.watch-left img{

}

.watch-right1{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 3px solid black;
    background: black;
    line-height: 25px;
    align-content: center;
    justify-content: space-around;
    order: -1;
    
    
}
.watch-right1 p{


}


.watch-left1{
    
    border: 3px solid black;
    flex: 0 0 400px;
    flex-basis: 35%;
}

.watch-left1 img{

}

/* DOWNLOAD SECTION */

.heading1 h1{
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

.download-container{

    flex-basis: 100%;
    background: black;
    display: flex;
    margin: 10px;
    


}


.download-container img{

       

}

.dow-sub-container{
   
   display: flex;
    margin: 10px;
    padding: 0px;
    margin-top: -10px;

  
 
}


.sub-left{
    
    border: 2px solid black;
    flex-basis: 25%;
    background: black;

}


.sub-mid{
     
     border: 2px solid black;
     flex-basis: 50%;
     background: white;
    
}

.sub-right{
    
    border: 2px solid black;
    flex-basis: 25%;
    background: orange;
}

.gallery-heading{

}

.gallery-heading h1{
       
    color: black;
    font-family: sans-serif;
    font-weight: bold;

}

.movie-container{

  
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
 
 }




 .img1{

     display: flex;
    flex-basis: 25%;
    padding: 5px;
    
}


.img2{

     display: flex;
    flex-basis: 50%;
    padding: 5px;
    

}


 .img3{
     
     display: flex;
    flex-basis: 25%;
    padding: 5px;
    

 }

.img4{


     display: flex;
    flex-basis: 60%;
    padding: 5px;
    
    
}

 .img5{

    display: flex;
    flex-basis: 40%;
    padding: 5px;
    

 }

.img6{


    display: flex;
    padding: 5px;
    flex-basis: 30%;
}

 .img7{
     
     display: flex;
     flex-basis: 20%;
     padding: 5px;
    
 }

.img8{

   display: flex;
    flex-basis: 50%;
    padding: 5px;
    
}

 .img9{
     
     display: flex;
    flex-basis: 40%;
    padding: 5px;
    
 }

.img10{
    
    display: flex;
    flex-basis: 60%;
    padding: 5px;
    
}

/* for right container*/


.right-container{
       
    flex: 0 0 320px;
    border: 3px solid black;
   
}

.sub-right-con1{
     
     display: flex;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

.sub-right-con2{
     
     display: flex;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

.sub-right-con3{
     
     display: flex;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

.sub-right-con4{
     
     display: flex;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

.sub-right-con5{
     
     display: flex;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

.sub-right-con6{
     
     display: flex;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}



